---
title: StudioMedico.eu
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
    <section class="hero is-success">
  <div class="hero-body">
    <h1 class="title level-item has-text-centered">{{ title }}</h1>
    <p class="subtitle level-item has-text-centered">
      Medicina Generale Convenzionata col S.S.N. 
      <br>
      Lo studio si trova in via Giosuè Borsi 8 / A, Milano
      <br><br>
      Si riceve su appuntamento.
    </p>
  </div>
</section>
    
    
    <div class="container is-fluid">
    <div class="content">
    {{ content | safe }}
    </div>
    </div>
    
    <footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>StudioMedico.eu</strong> (C) 2022 .
    </p>
  </div>
</footer>
  </body>
</html>